html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 32px auto;
}

.container {
    width: 1800px;
    text-align: center;
    margin: 16px auto;
}

.recipe-one,
.recipe-two,
.recipe-three {
    font-size: 1rem;
    display: inline-block;
    width: 250px;
    height: 450px;
    margin: 16px;
    background-color: gainsboro;
}

.attribution {
    font-size: 12px;
}

.ingredients,
.instructions {
    margin: auto 700px;
    text-align: left;
}