html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 32px auto;
}

.container {
    width: 1800px;
    text-align: center;
    margin: 16px auto;
}

.recipe-one,
.recipe-two,
.recipe-three {
    font-size: 1rem;
    display: inline-block;
    width: 250px;
    height: 450px;
    margin: 16px;
    background-color: gainsboro;
}

.attribution {
    font-size: 12px;
}

.ingredients,
.instructions {
    margin: auto 700px;
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

button {
    background-color: beige;
    width: 190px;
    height: 50px;
    border: 0px;
    padding: 0px;
    font-size: 1rem;
}

button:hover {
    background-color: bisque;
    cursor: pointer;
    text-decoration: underline;
}